<div class="card">
	<ul>
		<li><b>{{name}}</b></li>
		<li><b>Population:</b> {{population}}</li>
		<li><b>Capital:</b>{{capital}}</li>
	</ul>  

  <ul><b>Languages:</b>
    {{#each languages}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  <div class="flag">
    <img src="{{flag}}" alt="flag of {{name}}" width=400 />
  </div>
</div>

